body {
    font-family: "Roboto Mono", monospace;
    background: linear-gradient(68.15deg, #0c4da2 16.62%, #62a0f4 89.61%);
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.page-title {
    color: #fafafa;
    margin: 0 0 10px;
}

.page-subtitle {
    color: #fafafa;
    margin-top: 10px;
}

.page-logo {
    width: 200px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

input {
    margin: 12px;
    padding: 6px;
    border-radius: 5px;
    border: none;
    background: #fafafa;
    box-shadow: 0px 0px 4px 0px #4e4e4e;
}

label {
    color: #fafafa;
}

button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    border: none;
    background: #fafafa;
    box-shadow: 0px 0px 4px 0px #4e4e4e;
}

button:hover {
    transform: scale(1.1);
}

h2 {
    color: #fafafa;
    font-size: 18px;
}